@import 'config',
				'bootstrap_overrides';

body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

a {
	color: inherit;
}

/* Header */

nav {
	& li {
	  display: inline-block;
	  list-style: none; 
	}
}

a.navbar-brand {
	font-weight: bold;
	letter-spacing: -2px;
}

.header-default {
	background-color: #000;
	background-image: radial-gradient(circle at 50% top, rgba(84,90,182,0.6) 0%,rgba(220,36,36,0.2) 75%),radial-gradient(circle at right top, #794aa2 0%,rgba(121,74,162,0) 57%);
}

.main-wrapper {
	margin-top: -20px;
}

.section-header {
	text-align: center;
}

.modal-popup {
	position: relative;
	background: #fff;	
	background-clip: padding-box;
	border-radius: 0;

	h2.modal-popup-header {
		font-size: 1.5em;
		font-weight: 300;
	}
}

/* Hero */
.hero-description {
	color: #fff;
	max-width: 500px;
	position: absolute;
	top: 400px;
	text-align: left;

	.hero-headline {
		font-weight: 300;
		line-height: 1.3em;
	}

	p.hero-short {
		opacity: 0.75;
	}
}

.button-group {
	margin: 25px 0;
	.hero-btn.view {
		margin-left: 20px;
		background: rgba(255,255,255, 0.89);
		color: #000;
	}
}

.btn {
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 5px;
}

/* Section – Devoted */
section.devoted {
	text-align: center;
	border-bottom: 1px rgba(242,244,246,0.6) solid;
	padding: 20px 0;

	& > .container > h2 {
		font-size: 16px;
		color: #ccc;
	}
}

/* Section – Three Shelters */
section.three-shelters {
	height: 500px;
}

.section-short {
	text-align: center;
}

.shelter-list-home {
	margin-top: 35px;
	padding-left: 0;
}

.shelter-card {
	list-style: none;
	display: inline-block;
	background: #f4f7f8;
	border-radius: 4px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;

	& img {
		max-width: 304px;
		max-height: 203px;
		width: 100%;
		height: 100%;
	}

	.shelter-info {
	}

	.shelter-bio {
		padding: 5px 20px;
		
		h3 {
			font-size: 18px;
			text-align: center;
		}
	}

	.shelter-progress-bar {
		margin-top: 20px;
		width: 100%;
		height: 8px;
		background-color: #2ecc71;
		background: linear-gradient(to right, rgba(46, 204, 113,0.55) 10%, rgba(46, 204, 113, 0.75) 49%, rgba(46, 204, 113,1.0)100%);
	}
	.shelter-fund-wrapper {
		border-top: 1px solid #ddd;
		.shelter-raised, .shelter-target {
			box-sizing: border-box;
			float: left;
			width: 50%;
			height: 36px;
			line-height: 36px;
			text-align: center;
			font-size: 12px;
		}
		.shelter-target {
			border-left: 1px solid #ddd;
		}		
	}
}


