<!-- template.html -->
<html>
<head>
    <title>Kango</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="/css/styles.min.css"/>    
</head>
<body>
<nav class="navbar navbar-default">
  <div class='container'>
    <div class="navbar-header">
      <a href="#" class="navbar-brand">kango</a>  
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li><a href="#">Shelters</a></li>
      <li><button type="button" class="btn btn-default navbar-btn">Sign In</button></li>
    </ul>
  </div> <!-- /.container -->
</nav> <!-- /.navbar -->

<div id="content"></div>

<!-- Dependencies -->
<script src="build/build.js"></script>

</body>
</html>